body {
  background-image: url("20210529_223321-2.jpg");
  Background-color: black;
}

h1 {
  color: white;
  text-align: center;
  font-family: gill sans, sans serif;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
}

p {
  font-family: arial;
  font-size: 20px;
  color: White;
}
a {
  background-color: White;
  color: Black;
  padding: 5px 8px;
  text-decoration: none;
  text-align: center;
  display: block;
}
