/*Below is the page margin and background color.*/
body {
  background-color: lightblue;
  margin: 25px;
}
/*Next is the link style settings.*/
a{
  background-color: orange;
  color: white;
  padding: 15px 30px;
  text-decoration: none;
  text-align: center;
  display: block;
}
/* Image settings are as follows. */
img {
  border-style: double;
  border-width: 10px;
  border-color: green;
}
/* Special paragraph */
p.sarcasm {
  border-style: solid;
  border-width: 6px;
  border-color: red;
  margin: 5px;
  padding: 4px 6px;
  font-family: tahoma;
