
h1 {
  color: white;
  font-family: gill sans, sans serif;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
}

h2 {
  color: white;
  font-family: gill sans, sans serif;
}

p {
  font-family: arial;
  font-size: 20px;
  color: White;
}

.button {
     background-color: #630a01;
     border: outset;
     border-color: #400600;
     padding: 16px 32px;
     display: inline-block;
     text-aligh: center;
     color: #ffffff;
     text-decoration: none;
     font-size: 16px;
     margin: 4px 2px;
     cursor: pointer;
}
     
.button-bar {
     background-color: #630a01;
     border: outset;
     border-color: #400600;
     padding: 16px 32px;
     display: inline-block;
     text-aligh: center;
     color: #ffffff;
     text-decoration: none;
     font-size: 16px;
     margin: 4px 2px;
     cursor: pointer;
     position: relative;
     top: -75px;
}
